body {
    margin: 0 0 0 0;
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* @font-face {
    font-family: 'Pixellari';
    src: 'assets/Pixellari.ttf';
} */
